<!-- 
    <img (mouseenter)="changeDetail(true)" (mouseleave)="changeDetail(false)" [src]="'http://localhost:8080/api/image/' + box?.image" class="card-img-top img-thumbnail" alt="...">
    <p style="position: absolute; top: 10px; left: 30px;" [className]=" afficheDetail ? 'show' : 'collapse '" *ngFor="let saveurs of box?.saveurs"> {{saveurs }}</p>
    
    <div class="card-body">
      <h5 class="card-title">{{ box?.nom }}</h5>
      <h5 class="card-title">{{ box?.prix | currency:'EUR':'symbol':'1.2-2' }}</h5>
      <h5 class="card-title">{{ box?.nbPieces }}</h5>
    
      <div class="d-flex justify-content-between align-items-center">
        <button (click)="decrementer()" class="btn btn-danger btn-sm">-</button>
        <div class="btn btn-secondary btn-sm">{{ qte }}</div>
        <button (click)="incrementer()" class="btn btn-primary btn-sm">+</button>
      </div>
    </div>
  </div>

  <div class="card" (mouseenter)="changeDetail(true)" (mouseleave)="changeDetail(false)">
    
    </div> -->

    
<div class="card">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img [src]="'https://ldv-sushi-api.azurewebsites.net/api/image/' + box?.image" class="card-img-top img-thumbnail" alt="...">
      </div>
      <div class="flip-card-back">
        <p *ngFor="let saveurs of box?.saveurs">{{saveurs}}</p>
      </div>
    </div>
  </div> 
 <div class="card-body">
      <h5 class="card-title">{{ box?.nom }}</h5>
      <h5 class="card-title">{{ box?.prix | currency:'EUR':'symbol':'1.2-2' }}</h5>
      <h5 class="card-title">{{ box?.nbPieces }}</h5>
    
      <div class="d-flex justify-content-between align-items-center">
        <button (click)="decrementer()" class="btn btn-danger btn-sm">-</button>
        <div class="btn btn-secondary btn-sm">{{ qte }}</div>
        <button (click)="incrementer()" class="btn btn-primary btn-sm">+</button>
      </div>
    </div>
  </div>
 
 